<footer class="footer">
    <div class="container">
        <div class="footer-top flxrow">
            <div class="f_address">
                <div class="f-logo-main">
                    <img src="/content/images/f-logo-1.png" alt="">
                </div>
                <div class="f_text">
                    <p>Die MHDBDB ermöglicht den Zugriff auf die wichtigsten Werke der mittelhochdeutschen Dichtung durch vielseitige Suchfunktionen. Man kann nach Wörtern, Zeichenketten und Begriffen in ausgewählten Werken suchen und linguistische oder semantische Fragestellungen auswerten.</p>
                </div>
            </div>
            <div class="f_links">
                <ul>
                    <li><a href="#">Datenschutzmitteilung</a></li>
                    <li><a href="#">Datenauszug </a></li>
                    <li><a href="#">Löschanfrage</a></li>
                    <li><a href="#">Impressum </a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Kontakt</a></li>
                </ul>
            </div>
            <div class="f_links">
                <ul>
                    <li><a href="#">Universität Salzburg </a></li>
                    <li><a href="#">izmf  </a></li>
                    <li><a href="#">Uni Blog commUNIty</a></li>
                    <li><a href="#">PLUS Research </a></li>
                    <li><a href="#">Bibliothek</a></li>
                    <li><a href="#">PLUS online</a></li>
                </ul>
            </div>
            <div class="f-right">
                <span><img src="/content/images/f-logo.png" alt=""></span>
                <span><img src="/content/images/f-logo2.png" alt=""></span>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">© 2023 Mittelhochdeutsche Begriffsdatenbank.</div>
        </div>
    </div>
</footer>
