<footer class="footer">
    <div class="container">
        <div class="footer-top flxrow">
            <div class="f_address">
                <div class="f-logo-main">
                    <img src="../../../content/images/f-logo-1.png" alt="">
                </div>
                <div class="f_text">
                    <p>Die MHDBDB ermöglicht den Zugriff auf die wichtigsten Werke der mittelhochdeutschen Dichtung durch vielseitige Suchfunktionen. Man kann nach Wörtern, Zeichenketten und Begriffen in ausgewählten Werken suchen und linguistische oder semantische Fragestellungen auswerten.</p>
                </div>
            </div>
            <div class="f_links">
                <ul>
                    <li><a href="https://www.plus.ac.at/impressum/">Impressum</a></li>
                    <li><a href="https://mhdbdb.web.plus.ac.at/team">Team</a></li>
                    <li><a href="https://plus.ac.at" target="_blank">Universität&nbsp;Salzburg</a></li>
                    <li><a href="https://izmf-salzburg.at/" target="_blank">izmf</a></li>

                </ul>
            </div>
            <div class="container">
                <div class="row gx-3 gy-3" style="padding: 68px 0 0 0;">
                    <div class="col-12 col-lg-4 d-lg-flex justify-content-lg-end align-items-lg-end">
                        <span class="d-flex justify-content-center justify-content-lg-start mb-3 align-self-lg-end">
                            <img src="../../../content/images/clariah_2026.png" width="200" height="40" alt="clariah.at" style="display:block;">
                        </span>
                    </div>
                    <div class="col-12 col-lg-4 d-lg-flex justify-content-lg-between">
                        <span class="d-flex justify-content-center justify-content-lg-start mb-3">
                            <img src="../../../content/images/FB_Germanistik_Logo.jpg" height="80" alt="Fachbereich Gernmanistik">
                        </span>
                    </div>
                    <div class="col-12 col-lg-4 d-lg-flex justify-content-lg-end">
                        <span class="d-flex justify-content-center justify-content-lg-start mb-3">
                            <img src="../../../content/images/Logo-Zentrum-Mittelalter-und-Fruehneuzeit.png" height="80" alt="Zentrum Mittelalter und Frühe Neuzeit">
                        </span>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="copyright">© 2023 Paris Lodron Universität Salzburg Mittelhochdeutsche Begriffsdatenbank (MHDBDB)</div>
        </div>
    </div>
</footer>
