<form *ngIf="form" [formGroup]="form" novalidate>
    <div class="werke_row flxrow">
         <div class="radio-btn">
            <input class="state" type="checkbox" id="isClassFilterActive" formControlName="isClassFilterActive">
            <label class="label" for="isClassFilterActive">
                <div class="indicator"></div>
                <span class="text">{{ label }}</span>
            </label>
        </div>
        <div [formGroup]="filterClassCheckboxes" class="werke_row_inner">
            <div class="input-row">
                <span class="form-check form-check-inline" *ngFor="let item of filterClassCheckboxes.value | keyvalue">
                    <label>
                        <mat-checkbox [formControlName]="item.key" [value]="item.value">{{ item.key }}
                        </mat-checkbox>
                    </label>
                </span>
            </div>
        </div>
        <button mat-button type="button" (click)="openHelp()"><i class="fas fa-question-circle"></i></button>
    </div>
</form>