version: '3'
services:
  nginx:
    image: nginx:latest
    container_name: nginx
    ports:
      - 7200:7200
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./logs:/var/log/nginx
    depends_on:
      - graphdb
      - graphdb2
    restart: unless-stopped
  portainer:
    image: portainer/portainer-ce:latest
    ports:
      - 9443:9443
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
  graphdb:
    restart: always
    image: ontotext/graphdb:10.3.3
    ports:
      - '7201:7201'
    container_name: graphdb
    environment:
      - GDB_HEAP_SIZE=24G
    volumes:
      - ./graphdb-home:/opt/graphdb/home
      - ./graphdb-init:/repository.init
  graphdb2:
    restart: always
    image: ontotext/graphdb:10.3.3
    ports:
      - '7202:7202'
    container_name: graphdb2
    environment:
      - GDB_HEAP_SIZE=24G
    volumes:
      - ./graphdb-home-2:/opt/graphdb/home
      - ./graphdb-init-2:/repository.init
  backend:
    restart: always
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - '8081:8081'
    container_name: backend
    volumes:
      - ../tei1:/tei
  mhdbdb:
    restart: always
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - '9000:9000'
    container_name: mhdbdb
    volumes:
      - ./frontend:/usr/src/app/app-ui
volumes:
  data: