version: '3'
services:
  portainer:
    image: portainer/portainer-ce:latest
    ports:
      - 9443:9443
    volumes:
      - data:/data
      - /var/run/docker.sock:/var/run/docker.sock
    restart: unless-stopped
  graphdb:
    restart: always
    image: khaller/graphdb-free:10.3.0
    ports:
      - '7200:7200'
    container_name: graphdb
    environment:
      - GDB_HEAP_SIZE=15G
    volumes:
      - ./graphdb:/opt/graphdb/home
      - ./graphdb-import:/root/graphdb-import
  backend:
    restart: always
    build:
      context: backend
      dockerfile: Dockerfile
    ports:
      - '8081:8081'
    container_name: backend
  mhdbdb:
    restart: always
    build:
      context: frontend
      dockerfile: Dockerfile
    ports:
      - '9000:9000'
    container_name: mhdbdb
    volumes:
      - ./frontend:/usr/src/app/app-ui
volumes:
  data: