<mat-card>
    <mat-card-header>
        <mat-card-title>Wortformen
            <button mat-button type="button" (click)="openHelp()"><i class="fas fa-question-circle"></i></button>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div
            *ngFor="let tokenFilter of service.qp.filter.tokenFilters; let i = index; let last = last; let first = first">
            <mat-card>
                <mat-card-content>
                    <dhpp-form-token-word [tokenFilter]="tokenFilter"></dhpp-form-token-word>
                    <dhpp-form-token-pos [tokenFilter]="tokenFilter"></dhpp-form-token-pos>
                    <dhpp-form-token-concepts [tokenFilter]="tokenFilter"></dhpp-form-token-concepts>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-mini-fab [disabled]="first" (click)="delForm(i)"><i
                        class="fas fa-minus"></i></button>
                    <button mat-mini-fab [disabled]="first" (click)="upForm(i)"><i
                        class="fas fa-arrow-up"></i></button>
                    <button mat-mini-fab [disabled]="last" (click)="downForm(i)"><i
                        class="fas fa-arrow-down"></i></button>
                    <button style="float: right;" mat-mini-fab (click)="addForm()"><i class="fas fa-plus"></i></button>
                </mat-card-actions>
            </mat-card>
            <div style="float: right; margin: 30px">
                <mat-radio-group aria-label="Verbindung zu nächsten Wortformen" *ngIf="!last">
                    <mat-radio-button value="true">Und</mat-radio-button>
                    <mat-radio-button value="false">Oder</mat-radio-button>
                    <mat-radio-button value="not">Nicht</mat-radio-button>
                </mat-radio-group>
            </div>
        </div>
    </mat-card-content>
</mat-card>
