.full-height-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding-top: 340px;
  height: 100vh;
  background-image: url('/content/images/mhdbdb_background.jpg');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-attachment: fixed;
}

.example-form-field {
  width: 50%;
}

.mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: rgba(255, 255, 255, 1);
}

.mat-form-field-wrapper {
  padding-bottom: 0.2em;
}

.mat-form-field-underline {
  bottom: 0;
}

.mat-form-field-appearance-fill .mat-form-field-infix {
  padding: 0.25em 0 0.75em 0;
}

.mat-form-field-infix {
  margin-left: 20px !important;
}
