<div class="suche_blk_bottom no-pad" *ngIf="isLoaded">
    <div class="suche-row flxrow">
        <div class="name flxrow">
            <a [routerLink]="['/work/view', instance.strippedId]" [state]="{ instance: instance }">
                <i class="fas fa-book"></i>
                <span class="fil-text">{{ instance.label }} ({{ instance.authorLabel }})</span>
             </a>
        </div>

        <div class="right-icon">
            <a href="#">
                <i class="fas fa-archive"></i>
            </a>
            <a href="#">
                <i class="fas fa-project-diagram"></i>
            </a>
            <a href="#">
                <i class="fas fa-download"></i>
            </a>
            <a href="#">
                <i class="fas fa-link"></i>
            </a>
        </div>
    </div>

    <div class="suche-row flxrow" style="align-items: flex-start; justify-content: flex-start;">
        <h4>Belege</h4>
        <div class="name flxrow" style="margin-left: 25px;">
            {{ instance.words.length }} Belege gefunden
            <div *ngFor="let sense of instance.words;">
                <dhpp-widget-kwic [instance]="sense" [asPanel]="false" [limit]="3"></dhpp-widget-kwic>
            </div>
        </div>
    </div>

</div>
