<expansion-panel-wrapper [asPanel]="asPanel" [title]="title" [openHelpSubject]="openHelpSubject">

    <div class="row">
        <div class="col">
            <h1>{{ metadata.label }}</h1>
        </div>
    </div>

    <div class="container">

        <div class="row">
            <div class="col-3">
                Werktitel
            </div>
            <div class="col-9">
                {{ metadata.label }}
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Autor*in
            </div>
            <div class="col-9">
                <ul>
                    <li *ngFor="let sameAs of metadata.authorSameAs;">
                        <a href="{{sameAs}}" target="_blank">{{ metadata.authorLabel }} ({{ sameAs | niceInstanceName }}
                            )</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-3">
                Lebensdaten Autor*in
            </div>
            <div class="col-9">
                um 1200
            </div>
        </div> -->
        <div class="row">
            <div class="col-3">
                Linked Open Data (LOD)
            </div>
            <div class="col-9">
                <ul>
                    <li *ngFor="let sameAs of metadata.sameAs;">
                        <a href="{{sameAs}}" target="_blank">{{sameAs | niceInstanceName }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Textreihe(n) (Gattung)
            </div>
            <div class="col-9">
                <span *ngFor="let sameAs of metadata.genreForm; let isLast=last">
                    <a href="{{sameAs}}" target="_blank">{{sameAs }}</a>{{isLast ? '' : ','}}
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col-3">
                Übergeordnete Textreihe(n)
            </div>
            <div class="col-9">
               <span *ngFor="let sameAs of metadata.genreFormMainParent; let isLast=last">
                   <a href="{{sameAs}}" target="_blank">{{sameAs }}</a>{{isLast ? '' : ','}}
                </span>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px">
        <div class="col">
            <h2>MHDBDB E-Texte</h2>
        </div>
    </div>

    <div class="container">
        <div class="row" *ngFor="let instance of metadata.instances | slice:0:1;">
            <div class="col-3">
                <a [routerLink]="['/tei', instance | textId]" target="_blank">{{ metadata.label }} {{ instance | textId }}</a>
            </div>
            <div class="col-3">
                    <a [routerLink]="['/tei', instance | textId]">
                        <i class="fa-solid fa-scroll"></i>
                    </a>
                    <a href="#">
                        <i class="fas fa-download"></i>
                    </a>
                    <a href="#">
                        <i style="color: green;" class="fa-solid fa-circle"></i>
                    </a>
            </div>
        </div>
    </div>

    <!-- <div class="inner_info">
         <h2>Bibliografische Metadaten</h2>
         <span *ngIf="isLoaded | async; else loading">
         <span *ngIf="metadata.sameAs.length <= 0"><em>Keine externen Daten gefunden</em></span>
         <ul style="margin-left: 25px;">
             <li *ngFor="let sameAs of metadata.sameAs;">
                 <a href="{{sameAs}}" target="_blank">{{sameAs}}</a>
             </li>
         </ul>
     </span>
     </div>-->

    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</expansion-panel-wrapper>
