<div class="container" *ngIf="metadata">

    <div class="row">
        <div class="col">
            <h1>{{ metadata.label }}</h1>
        </div>
    </div>

    <div class="container" ng-if="metadata">

        <div class="row">
            <div class="col-3">
                Werktitel
            </div>
            <div class="col-9">
                {{ metadata.label }}
            </div>
        </div>
        <div class="row" *ngIf="metadata && metadata.authorSameAs && metadata.authorSameAs.length > 0">
            <div class="col-3">
                Autor*in
            </div>
            <div class="col-9">
                <ul>
                    <li *ngFor="let authorSameAs of metadata.authorSameAs;">
                        <a href="{{authorSameAs}}" target="_blank">{{ metadata.authorLabel }} ({{ authorSameAs | niceInstanceName }})</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- <div class="row">
            <div class="col-3">
                Lebensdaten Autor*in
            </div>
            <div class="col-9">
                um 1200
            </div>
        </div> -->
        <div class="row" *ngIf="metadata && metadata.sameAs && metadata.sameAs.length > 0">
            <div class="col-3">
                Linked Open Data (LOD)
            </div>
            <div class="col-9">
                <ul>
                    <li *ngFor="let sameAs of metadata.sameAs;">
                        <a href="{{sameAs}}" target="_blank">{{sameAs | niceInstanceName }}</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row" *ngIf="metadata && metadata.genreForm && metadata.genreForm.length > 0">
            <div class="col-3">
                Textreihe(n) (Gattung)
            </div>
            <div class="col-9">
                <span *ngFor="let item of metadata.genreForm; let isLast=last">
                    <a href="{{item}}" target="_blank">{{item }}</a>{{isLast ? '' : ','}}
                </span>
            </div>
        </div>
        <div class="row" *ngIf="metadata && metadata.genreFormMainParent && metadata.genreFormMainParent.length > 0">
            <div class="col-3">
                Übergeordnete Textreihe(n)
            </div>
            <div class="col-9">
               <span *ngFor="let item of metadata.genreFormMainParent; let isLast=last">
                   <a href="{{item}}" target="_blank">{{item }}</a>{{isLast ? '' : ','}}
                </span>
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px" ng-if="metadata">
        <div class="col">
            <h2>Leseansicht MHDBDB E-Text</h2>
        </div>
    </div>

    <div class="container" *ngIf="metadata && metadata.instances && metadata.instances.length > 0">
        <div class="row" *ngFor="let instance of metadata.instances; index as i">
            <div class="col-3">
                <a [routerLink]="['/tei', instance | textId]" target="_blank">{{ metadata.instanceLabels[i] }} {{ instance | textId }}</a>
            </div>
            <div class="col-3">
                    <a [routerLink]="['/tei', instance | textId]">
                        <i class="fa-solid fa-scroll download" title="TEI-Rendering anzeigen"></i>
                    </a>
                    <a (click)="downloadTeiPdf(instance)" *ngIf="!metadata.bibLicense || metadata.bibLicense !== 'NONE'">
                        <i class="fa-regular fa-file-pdf download" title="TEI-PDF herunterladen"></i>
                    </a>
                    <a href="mailto:mhdbdb@plus.ac.at?subject=Anfrage%20zu%20{{ instance | textId }}" *ngIf="metadata.bibLicense && metadata.bibLicense == 'NONE'">
                        <i class="fa-regular fa-envelope download" title="Diese Datei steht nicht öfentlich zur Verfügung. Bitte senden Sie uns eine Anfrage."></i>
                    </a>
                    <a (click)="downloadTeiXml(instance)">
                        <i class="fa-regular fa-file-code download" title="TEI-XML herunterladen"></i>
                    </a>
                    <!--
                        <a href="#">
                            <i style="color: green;" class="fa-solid fa-circle"></i>
                        </a>
                    -->
            </div>
        </div>
    </div>

    <div class="row" style="padding-top: 25px" ng-if="metadata">
        <div class="col">
            <h2>Bibliografische Metadaten zu Editionen</h2>
        </div>
    </div>

    <div class="container" ng-if="metadata">
        <div class="row">
            <div class="col-12">
                <i *ngIf="metadata.authorLabel">{{ metadata.authorLabel }}</i><i *ngIf="metadata.bibTitle">: {{ metadata.bibTitle }}</i><i *ngIf="metadata.bibAgent">, hrsg. von {{ metadata.bibAgent }}</i><i *ngIf="metadata.bibPlace">, {{ metadata.bibPlace }}</i><i *ngIf="metadata.bibDate">, {{ metadata.bibDate }}</i>
            </div>
        </div>
    </div>
    <!--
    <div class="container" *ngIf="metadata && metadata.expressions && metadata.expressions.length > 0">
        <div class="row" *ngFor="let instance of metadata.expressions; index as i">
            <div class="col-3">
                <a [routerLink]="['/tei', instance | textId]" target="_blank">{{ metadata.expressionLabels[i] }} {{ instance | textId }}</a>
            </div>
            <div class="col-3">
                    <a [routerLink]="['/tei', instance | textId]">
                        <i class="fa-solid fa-scroll"></i>
                    </a>
                    &lt;!&ndash;<a href="#">
                        <i class="fas fa-download"></i>
                    </a>&ndash;&gt;
                    <a href="#">
                        <i style="color: green;" class="fa-solid fa-circle"></i>
                    </a>
            </div>
        </div>
    </div>-->

    <!-- <div class="inner_info">
         <h2>Bibliografische Metadaten</h2>
         <span *ngIf="isLoaded | async; else loading">
         <span *ngIf="metadata.sameAs.length <= 0"><em>Keine externen Daten gefunden</em></span>
         <ul style="margin-left: 25px;">
             <li *ngFor="let sameAs of metadata.sameAs;">
                 <a href="{{sameAs}}" target="_blank">{{sameAs}}</a>
             </li>
         </ul>
     </span>
     </div> -->
</div>