.inner_info
{
  margin-top: 25px;
}

.inner_info > span > * {
  margin-left: 25px;
  margin-top: 10px;
}

.inner_info > span > div > * {
  margin-left: 25px;
  margin-top: 10px;
}

.row {
  padding-top: 10px;
}
