// dhPLUS CI

// dhPLUS Colors
$dhplus-color: #00593a; // main color

$dhplus-bg-color: #00593a; // main background color
$dhplus-fg-color: white; // main foreground color

$dhplus-footer-height: 60px;
