.mat-toolbar.mat-primary {
  background: #efefef;
  color:black;
}

.filler {
  flex: 1 1 auto;
}
.gap {
  margin-right: 10px;
}

.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

.example-chip-list {
  width: 100%;
}
