.fixed-form {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.show-fixedForm {
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.fixed-form i {
  color: #ebc011;
  font-size: 2rem;
}
