<!-- <expansion-panel-wrapper [asPanel]="asPanel" [title]="title" [openHelpSubject]="openHelpSubject"> -->
    <div *ngIf="isLoaded | async; else loading" style="width: 100%;">
<!--        <span *ngIf="total <= 0"><em>Wort nicht im Korpus</em></span>-->
        <div style="width: 100%;" *ngFor="let kwic of kwics;">
            <div class="row">
                <div class="col-2">
                    <span *ngIf="kwic.left.length > 0 && kwic.right.length > 0">Zeile {{ extractNumber(kwic.left[0].strippedId)}} - {{ extractNumber(kwic.right[kwic.right.length - 1].strippedId)}}</span>
                </div>
                <div class="col-10">
                    ...
                    {{joinTokens(kwic.left)}}
                    <mark>{{ kwic.center.content }}</mark>
                    {{joinTokens(kwic.right)}}
                    ...
                </div>

            </div>

        </div>

       <!--  <div class="row" style="margin-top: 15px;">
            <div class="col">
        <button *ngIf="total > 0 && offset + limit < total" (click)="moreOccurrences()"
                class="mat-focus-indicator mat-mini-fab mat-button-base mat-accent" mat-mini-fab="">
            <span class="mat-button-wrapper"><i class="fas fa-plus"
                                                style="margin: 0 !important; font-size: 12px !important;"></i></span>
<span class="mat-button-ripple mat-ripple mat-button-ripple-round"></span>
<span class="mat-button-focus-overlay"></span>
</button>
                </div>
            </div> -->
        </div>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
<!-- </expansion-panel-wrapper> -->
