<h2>Werke</h2>
<div class="werke-blk">
    <dhpp-form-header
    [routeString]="routeString"
    ></dhpp-form-header>
    <dhpp-form-workSearch
    [label]="labelTextSearch"
    [routeString]="routeString">
    </dhpp-form-workSearch>

    <dhpp-form-filter  [label]="labelTextSearch"
                       [routeString]="routeString"></dhpp-form-filter>

    <dhpp-form-footer [routeString]="routeString"></dhpp-form-footer>
</div>
<div class="search-results" infinite-scroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5"
    [infiniteScrollThrottle]="500" (scrolled)="onScrollDown()">
    <div>{{ total }} Werke gefunden</div>
    <div *ngFor="let instance of instances">
        <dhpp-work-element [instance]="instance"></dhpp-work-element>
    </div>
    <span *ngIf="total > instances.length">Scrollen für mehr Resultate</span>
    <mat-spinner *ngIf="isLoadingNext"></mat-spinner>
</div>
