@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '../../../content/scss/dhplus-variables';

/* ==========================================================================
Navbar
========================================================================== */

.navbar-version {
  font-size: 0.65em;
  color: $dhplus-fg-color;
}

.profile-image {
  height: 1.75em;
  width: 1.75em;
}

.navbar {
  background-color: $dhplus-bg-color;

  padding: 0.2rem 1rem;

  ul.navbar-nav {
    .nav-item {
      margin-left: 0.5em;
    }
  }

  a.nav-link {
    background-color: $dhplus-bg-color;
    color: #fff;
    font-weight: 400;
  }
}

/* ==========================================================================
Logo styles
========================================================================== */
.logo-img {
  height: 60px;
  width: 260px;
  display: inline-block;
  vertical-align: middle;
  background: url('../../../content/images/dhLogo-transparent-300x74.png') no-repeat center center;
  background-size: contain;
}
