<div class="full-height-container">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <div class="banner-box">
                    <mat-form-field>
                        <mat-label>Wortform</mat-label>
                        <input type="text" class="input-text" matInput>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top: 30px;">
            <div class="col-4">
                <div class="banner-box">
                    <h2>Neuigkeiten</h2>
                </div>
            </div>
            <div class="col-4">
                <div class="banner-box">
                    <h2>Wussten Sie schon?</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<!--
<div class="banner_wapper">
    <div class="home-banner" style="background-image:url('/content/images/mhdbdb_background.jpg'); background-size: cover;">
        <div class="container">
            <div class="flxrow banner-row">
                <div class="banner-left flxrow">
                    <div class="banner-box">
                        <h2>Neuigkeiten</h2>
                    </div>
                    <div class="banner-box">
                        <h2>Wussten Sie schon?</h2>
                    </div>
                </div>
                <div class="banner-right">
                    <div class="banner-box">
                        <h2>Showcase </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->
<!--

<section class="container_wrapper">

    <div class="home_wapper">
        <div class="container">
            <div class="home_contain flxrow">
                <div class="yello_box">
                    <div class="yello_box-sub">
                        <h2>Universum/Welt</h2>
                    </div>
                </div>
                <div class="yello_box">
                    <div class="yello_box-sub">
                        <h2>Universum/Welt</h2>
                    </div>
                </div>
                <div class="third-row">
                    <div class="border-div">
                        <h2>Statistiken</h2>
                    </div>
                    <div class="border-div">
                        <h2>Twitter</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
-->

