<div class="banner_wapper">
    <div class="home-banner" style="background-image:url('/content/images/banner-bg.png'); ">
        <div class="container">
            <div class="flxrow banner-row">
                <div class="banner-left flxrow">
                    <div class="banner-box">
                        <h2>Neuigkeiten</h2>
                    </div>
                    <div class="banner-box">
                        <h2>Wussten Sie schon?</h2>
                    </div>
                </div>
                <div class="banner-right">
                    <div class="banner-box">
                        <h2>Showcase </h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="container_wrapper">

    <div class="home_wapper">
        <div class="container">
            <div class="home_contain flxrow">
                <div class="yello_box">
                    <div class="yello_box-sub">
                        <h2>Universum/Welt</h2>
                    </div>
                </div>
                <div class="yello_box">
                    <div class="yello_box-sub">
                        <h2>Universum/Welt</h2>
                    </div>
                </div>
                <div class="third-row">
                    <div class="border-div">
                        <h2>Statistiken</h2>
                    </div>
                    <div class="border-div">
                        <h2>Twitter</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

