@font-face {
    font-family: 'Pragmatica-Medium';
    src: url('/content/fonts/Pragmatica-Medium.woff2') format('woff2'),
        url('/content/fonts/Pragmatica-Medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('/content/fonts/OpenSans-Light.woff2') format('woff2'),
        url('/content/fonts/OpenSans-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Italic';
    src: url('/content/fonts/OpenSans-Italic.woff2') format('woff2'),
        url('/content/fonts/OpenSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('/content/fonts/OpenSans-Regular.woff2') format('woff2'),
        url('/content/fonts/OpenSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-Bold';
    src: url('/content/fonts/OpenSans-Bold.woff2') format('woff2'),
        url('/content/fonts/OpenSans-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('/content/fonts/OpenSans-SemiBold.woff2') format('woff2'),
        url('/content/fonts/OpenSans-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('/content/fonts/OpenSans-ExtraBold.woff2') format('woff2'),
        url('/content/fonts/OpenSans-ExtraBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('/content/fonts/HelveticaNeueRegular.eot');
  src: url('/content/fonts/HelveticaNeueRegular.eot?#iefix') format('embedded-opentype'),
  url('/content/fonts/HelveticaNeueRegular.woff2') format('woff2'),
  url('/content/fonts/HelveticaNeueRegular.woff') format('woff'),
  url('/content/fonts/HelveticaNeueRegular.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
