<div class="suche_blk_bottom no-pad" *ngIf="isLoaded">
    <div class="suche-row flxrow">
        <div class="name flxrow">
            <a [routerLink]="['/indices/person/view', instance.strippedId]" [state]="{ instance: instance }">
                <i class="fas fa-user"></i>
                <span class="fil-text">{{ instance.label }}</span>
                <span class="unfil-text">
                    <ng-template [ngIf]="!!instance.dateOfBirth">
                        <em>*{{ instance.dateOfBirth }}</em>
                    </ng-template>
                    <ng-template [ngIf]="!!instance.dateOfDeath && instance.dateOfDeath != instance.dateOfBirth">
                        <em>†{{ instance.dateOfDeath }}</em>
                    </ng-template>
                </span>
            </a>
        </div>
        <!--<div class="right-icon">
            <a href="#">
                <i class="fas fa-archive"></i>
            </a>
            <a href="#">
                <i class="fas fa-project-diagram"></i>
            </a>
            <a href="#">
                <i class="fas fa-download"></i>
            </a>
            <a href="#">
                <i class="fas fa-link"></i>
            </a>
        </div>-->
    </div>
</div>
