.title {
  padding-left: 1rem;
  padding-right: 1rem;
}

.author {
  padding-left: 1rem;
  padding-right: 1rem;
}

.timespan {
  padding-left: 1rem;
  padding-right: 1rem;
}

.suche-row {
  align-items: center;
  border: #bcbcbc solid 0px !important;
  margin: 10px 0 0 0;
  padding: 5px 0 5px 15px;
}

.suche_blk_bottom {
  border: #bcbcbc solid 1px;
}
