.navbar {
  min-height: 120px;
}

.navbar-brand {
  padding: 0 15px;
  height: 120px;
  line-height: 120px;
}

.container {
  margin: 20px;
}

.logo-grey {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}
