::ng-deep .custom-slider .ngx-slider .ngx-slider-bar {
  background: #ebc011;
  height: 2px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-selection {
  background: orange;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer {
  width: 8px;
  height: 16px;
  top: auto;
  bottom: 0;
  background-color: #333;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-pointer:after {
  display: none;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-bubble {
  bottom: 14px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-limit {
  font-weight: bold;
  color: orange;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick {
  width: 1px;
  height: 10px;
  margin-left: 4px;
  border-radius: 0;
  background: #ebc011;
  top: -1px;
}
::ng-deep .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
  background: #ebc011;
}
.mat-card:not([class*='mat-elevation-z']) {
  box-shadow: none;
}
.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
.mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: #40a9ff;
}
