
<mat-card>
    <mat-card-header>
        <mat-card-title>
            <div style="display: flex;">
                Ausgabe: Kontext vor und nach der Suche <button mat-button type="button" (click)="openHelp()"><i class="fas fa-question-circle"></i></button>
            </div>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <mat-card>
            <mat-card-content>
                 <form *ngIf="form" [formGroup]="form" novalidate>
               <mat-form-field appearance="fill">
                    <mat-label>Anzahl</mat-label>
                    <mat-select [formControl]="form.get('context')">
                        <mat-option *ngFor="let value of contextRange" [value]="value">{{ value }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Einheit</mat-label>
                    <mat-select [formControl]="form.get('contextUnit')">
                        <mat-option *ngFor="let value of contextUnits" [value]="value.value">{{ value.de }}</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-slide-toggle style="margin-top: 8px;" [formControl]="form.get('directlyFollowing')">Reihenfolge beachten</mat-slide-toggle>
                </form>
            </mat-card-content>
        </mat-card>
    </mat-card-content>
</mat-card>

